/* FXTracker CSS */
.projsubject
{
	font-size: 110%;
	color: #d97b33;
}

.fullwidth
{
	width: 100%;
}
.halfwidth
{
	width: 50%;
}

.sceditorfont
{
	font: 78%/130% "Verdana", "Arial", "Helvetica", sans-serif;
}